.container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
max-height: 500px;
border: 1px solid #000;
background-color: #fff;
box-shadow: 1px 1px 1px;
padding: 30px 40px;
overflow: scroll;
}

h2 {
    margin-bottom: 20px;
}

// .input {
//     margin-bottom: 15px !important;
// }

.close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.btn {
    background-color: rgba(0, 68, 97, 0.75) !important;
}

.btn_voltar {
    color: rgba(0, 68, 97, 0.75) !important;
}

.btn_container {
    margin-left: auto;
}