.container {
    padding: 10px;
    border-radius: 5px;
}

.link_signup {
    font-size: 0.8em;
    display: block;
    color: #004563;
}

.link_signup:hover {
    text-decoration: underline;
}

.span_signup {
    font-size: 0.9em;
}

.account_title {
    margin-bottom: 10px;
}

.account_menu li {
    margin-bottom: 5px;
}

.account_menu a {
    text-decoration: none;
}

.account_menu a:hover {
    text-decoration: underline;
}

.account_menu .link_standard {
    color: #000;
    text-decoration: none;
}

.account_menu .link_logout {
    font-size: 0.9em;
    cursor: pointer;
    color: #fff;
    display: block;
    width: 100%;
    min-width: 100px;
    background-color: #e32626;
    margin-left: -4px;
    padding: 5px;
    border: none;
    border-radius: 10px;

    &:hover {
        background-color: #e96f6f;
    }
}