.footer {
    padding-top: 1.5%;
    background-color: #004563;
    flex-direction: column;
    display: flex;
    color: white;
    align-items: center;

    .footerBottom {
        margin-bottom: 5px;
        p {
            font-size: 14px;
        }
    }
}
.footer section {

    padding-top: 1%;
    background-color: #004563;
    color: white;
    bottom: 0;
    display: flex;
    width: 100%;
    padding-bottom: 2%;
    justify-content: space-around;

    p {
        font-size: 16px;
    }

    .ofertas {
        margin-bottom: 3%;
    }
}

.notification__input {
    height: 34px;
    width: 200px;
    margin-right: 10px;
    padding: 0px 8px;
}

.notification__button {
    background-color: white;
    border: white;
    border-radius: 2px;
    height: 35px;
    width: 50px;
    font-size: medium;
    margin-bottom: 40px;
}

.redes {
    margin-left: 70px;
    font-size: 20px;
}

.icons {
    padding-left: 76px;
}

.topicos {
    margin-left: 5px;
    margin-bottom: 0;

    p {
        margin-top: 5%;
    }
}